In [1]:
import pandas as pd
import datetime as dt

In [2]:
birthdate = dt.date(1976, 1, 23)
birthdate

datetime.date(1976, 1, 23)

In [3]:
birthdate.year

1976

In [4]:
birthdate.month

1

In [5]:
birthdate.day

23

In [6]:
dt.datetime(1975,1,23)

datetime.datetime(1975, 1, 23, 0, 0)

In [7]:
dt.datetime(1975,1,23,8,12,15) #saat 08:12:15

datetime.datetime(1975, 1, 23, 8, 12, 15)

In [8]:
dt.datetime(1975,1,23,17,12,15) #saat 17:12:15

datetime.datetime(1975, 1, 23, 17, 12, 15)

In [9]:
str(dt.datetime(1975,1,23,8,12,15)) #string formatında göstermiş oluruz

'1975-01-23 08:12:15'

In [10]:
sometime = dt.datetime(1976,1,23,17,12,15)

In [11]:
sometime.hour
#year,month,day var ekstra olarak hour, minute, second var

17

In [12]:
sometime.minute

12

In [13]:
sometime.second

15

In [14]:
pd.Timestamp("2022-11-21") #pythodnaki date ve datetime a karşılık geliyor

Timestamp('2022-11-21 00:00:00')

In [15]:
pd.Timestamp("2022/11/21")

Timestamp('2022-11-21 00:00:00')

In [16]:
pd.Timestamp("2022.11.21")

Timestamp('2022-11-21 00:00:00')

In [17]:
pd.Timestamp("2022.11.21").strftime("%d.%m.%Y") #day,month,year

'21.11.2022'

In [18]:
pd.Timestamp("2022.11.21 08:12:55 AM")

Timestamp('2022-11-21 08:12:55')

In [19]:
pd.Timestamp("2022.11.21 08:12:55 PM") #gece yapar

Timestamp('2022-11-21 20:12:55')

In [20]:
pd.Timestamp(dt.datetime(1976,1,23)) #python ın date timeını pandasın Timestampine çevirmiş olduk

Timestamp('1976-01-23 00:00:00')

In [21]:
pd.Timestamp(dt.datetime(1976,1,23,17,12,15))

Timestamp('1976-01-23 17:12:15')

In [22]:
dates = ["2022-11-21","1995-01-12","2012-02-25"]

In [23]:
pd.DatetimeIndex(dates) #date türünden bir diziyi .DatetimeIndex ile çeviririz

DatetimeIndex(['2022-11-21', '1995-01-12', '2012-02-25'], dtype='datetime64[ns]', freq=None)

In [24]:
pd.DatetimeIndex(["2022-11-21","1995-01-12","2012-02-25"])

DatetimeIndex(['2022-11-21', '1995-01-12', '2012-02-25'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.DatetimeIndex([dt.date(2022,11,21),dt.date(1995,1,12),dt.date(2012,2,25)])

DatetimeIndex(['2022-11-21', '1995-01-12', '2012-02-25'], dtype='datetime64[ns]', freq=None)

In [26]:
dates = ["2022-11-21","1995-01-12","2012-02-25"]
sales = [100,200,300]
indexes = pd.DatetimeIndex(dates)
series = pd.Series(sales,index=indexes)
series

2022-11-21    100
1995-01-12    200
2012-02-25    300
dtype: int64

In [27]:
pd.to_datetime("2022-1-15")#Timestampe çevirir

Timestamp('2022-01-15 00:00:00')

In [28]:
pd.to_datetime(["2022-1-15","1996-12-12","2006","March 5, 2016"]) # liste verirsel DatetimeIndex e çevirir

DatetimeIndex(['2022-01-15', '1996-12-12', '2006-01-01', '2016-03-05'], dtype='datetime64[ns]', freq=None)

In [29]:
series = pd.Series(["2022-1-15","1996-12-12","2006","March 5, 2016"])
series

0        2022-1-15
1       1996-12-12
2             2006
3    March 5, 2016
dtype: object

In [30]:
pd.to_datetime(series) #seriyi datetime şekline sokar

0   2022-01-15
1   1996-12-12
2   2006-01-01
3   2016-03-05
dtype: datetime64[ns]

In [31]:
new_series=pd.Series(["2022-1-15","1996-12-12","2006","March 5, 2016","Ecir","2015-02-30"])
new_series

0        2022-1-15
1       1996-12-12
2             2006
3    March 5, 2016
4             Ecir
5       2015-02-30
dtype: object

In [32]:
pd.to_datetime(new_series) # Ecir diye bir format tanımıyor

ParserError: Unknown string format: Ecir

In [33]:
pd.to_datetime(new_series,errors="coerce") #not a time (geçersiz tarihleri o şekilde çevirir) coerce -> zorlama

0   2022-01-15
1   1996-12-12
2   2006-01-01
3   2016-03-05
4          NaT
5          NaT
dtype: datetime64[ns]

In [34]:
pd.to_datetime([1669013182736,1642147272000],unit='s') #unix işletim sisteminde milisaniyeye karşılık gelen değerleri verir

OutOfBoundsDatetime: cannot convert input 1669013182736 with the unit 's'

In [ ]:
pd.date_range(start='2022-11-1',end="2022-11-15") # iki tarih aralığını otomatik olarak böler

In [ ]:
times = pd.date_range(start='2022-11-1',end="2022-11-15")

In [35]:
type(times)

NameError: name 'times' is not defined

In [36]:
type(times[0])

NameError: name 'times' is not defined

In [37]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="2D") # 2 şer günlük aralıklarla tarihleri veriyor

DatetimeIndex(['2022-11-01', '2022-11-03', '2022-11-05', '2022-11-07',
               '2022-11-09', '2022-11-11', '2022-11-13', '2022-11-15'],
              dtype='datetime64[ns]', freq='2D')

In [38]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="B") #business dayleri verir hafta sonlarını çıkarır

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
               '2022-11-11', '2022-11-14', '2022-11-15'],
              dtype='datetime64[ns]', freq='B')

In [39]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="W") #haftanın başlangıç günlerini alır yani pazarları verir

DatetimeIndex(['2022-11-06', '2022-11-13'], dtype='datetime64[ns]', freq='W-SUN')

In [40]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="W-MON") # haftanın başlangıcını pazartesi yaptık

DatetimeIndex(['2022-11-07', '2022-11-14'], dtype='datetime64[ns]', freq='W-MON')

In [41]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="H") #Saatlere böler

DatetimeIndex(['2022-11-01 00:00:00', '2022-11-01 01:00:00',
               '2022-11-01 02:00:00', '2022-11-01 03:00:00',
               '2022-11-01 04:00:00', '2022-11-01 05:00:00',
               '2022-11-01 06:00:00', '2022-11-01 07:00:00',
               '2022-11-01 08:00:00', '2022-11-01 09:00:00',
               ...
               '2022-11-14 15:00:00', '2022-11-14 16:00:00',
               '2022-11-14 17:00:00', '2022-11-14 18:00:00',
               '2022-11-14 19:00:00', '2022-11-14 20:00:00',
               '2022-11-14 21:00:00', '2022-11-14 22:00:00',
               '2022-11-14 23:00:00', '2022-11-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [42]:
pd.date_range(start='2022-11-1',end="2022-11-15",freq="2H") # her iki saatte bir tarih aralıklarını oluşturur

DatetimeIndex(['2022-11-01 00:00:00', '2022-11-01 02:00:00',
               '2022-11-01 04:00:00', '2022-11-01 06:00:00',
               '2022-11-01 08:00:00', '2022-11-01 10:00:00',
               '2022-11-01 12:00:00', '2022-11-01 14:00:00',
               '2022-11-01 16:00:00', '2022-11-01 18:00:00',
               ...
               '2022-11-14 06:00:00', '2022-11-14 08:00:00',
               '2022-11-14 10:00:00', '2022-11-14 12:00:00',
               '2022-11-14 14:00:00', '2022-11-14 16:00:00',
               '2022-11-14 18:00:00', '2022-11-14 20:00:00',
               '2022-11-14 22:00:00', '2022-11-15 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='2H')

In [43]:
pd.date_range(start='2022-2-1',end="2022-11-1",freq="M") # Her ayın bitişini default olarak verir

DatetimeIndex(['2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30',
               '2022-10-31'],
              dtype='datetime64[ns]', freq='M')

In [44]:
pd.date_range(start='2022-2-1',end="2022-11-1",freq="MS") # Her ayın başlangıcını default olarak verir

DatetimeIndex(['2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [45]:
pd.date_range(start='2022-2-1',end="2050-11-1",freq="Y") #Her yılın sonunu verir

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31', '2037-12-31',
               '2038-12-31', '2039-12-31', '2040-12-31', '2041-12-31',
               '2042-12-31', '2043-12-31', '2044-12-31', '2045-12-31',
               '2046-12-31', '2047-12-31', '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [46]:
pd.date_range(start='2022-2-1',end="2050-11-1",freq="YS") #Her yılın başını verir

DatetimeIndex(['2023-01-01', '2024-01-01', '2025-01-01', '2026-01-01',
               '2027-01-01', '2028-01-01', '2029-01-01', '2030-01-01',
               '2031-01-01', '2032-01-01', '2033-01-01', '2034-01-01',
               '2035-01-01', '2036-01-01', '2037-01-01', '2038-01-01',
               '2039-01-01', '2040-01-01', '2041-01-01', '2042-01-01',
               '2043-01-01', '2044-01-01', '2045-01-01', '2046-01-01',
               '2047-01-01', '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [47]:
pd.date_range(start="2012-09-09",periods=25,freq="D") #25 güne böler başlangıçtan itibaren

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start="2012-09-09",periods=25,freq="W") #haftanın başlangıcı sunday

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [49]:
pd.date_range(start="2012-09-09",periods=25,freq="W-MON") #haftanın başlangıcını monday olarak verir

DatetimeIndex(['2012-09-10', '2012-09-17', '2012-09-24', '2012-10-01',
               '2012-10-08', '2012-10-15', '2012-10-22', '2012-10-29',
               '2012-11-05', '2012-11-12', '2012-11-19', '2012-11-26',
               '2012-12-03', '2012-12-10', '2012-12-17', '2012-12-24',
               '2012-12-31', '2013-01-07', '2013-01-14', '2013-01-21',
               '2013-01-28', '2013-02-04', '2013-02-11', '2013-02-18',
               '2013-02-25'],
              dtype='datetime64[ns]', freq='W-MON')

In [50]:
temp_dates = pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")
temp_dates #24 gün 24 gün ilerler

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [51]:
time_series = pd.Series(temp_dates)

In [52]:
time_series.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [53]:
time_series.dt.date #dt olduğunu belirtir str ye çevirme gibi

0      2000-01-01
1      2000-01-25
2      2000-02-18
3      2000-03-13
4      2000-04-06
          ...
163    2010-09-17
164    2010-10-11
165    2010-11-04
166    2010-11-28
167    2010-12-22
Length: 168, dtype: object

In [54]:
time_series.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [55]:
time_series.dt.year

0      2000
1      2000
2      2000
3      2000
4      2000
       ...
163    2010
164    2010
165    2010
166    2010
167    2010
Length: 168, dtype: int64

In [56]:
time_series.dt.day_name() #Tarihlere ait günlerin isimlerini getirdi

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [57]:
time_series.dt.is_month_start #ayın başlangıcı mı ?

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [58]:
time_series[time_series.dt.is_quarter_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [59]:
time_series.dt.is_quarter_start # 3ayda bir veriyor

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [62]:
from pandas_datareader import data

In [63]:
stocks = data.DataReader(name="MSFT",data_source="yahoo",start="1-1-2015",end="2022-10-30") #yahhonun hisse senedi fiyatlarını çeker

TypeError: string indices must be integers

In [ ]:
stocks.head()

In [ ]:
stocks.index #index datetime index nesnesi olduğunu görebiliriz

In [ ]:
stocks.loc["2015-01-05"]

In [ ]:
stocks.loc["2015-01-05":"2015-01-15"]

In [ ]:
stocks.truncate(before="2015-01-05",after="2015-01-15")

In [ ]:
pd.date_range(start="1976-1-23",end="2021-1-23",freq="Y")

In [ ]:
pd.date_range(start="1976-1-23",end="2021-1-23",freq="YS")

In [ ]:
birthdays = pd.date_range(start="1976-1-23",end="2022-1-23",freq=pd.DateOffset(years=1)) #Bütün doğumgünlerini belirlediğimiz tarihden itibaren veriyor
birthdays

In [ ]:
stocks

In [ ]:
stocks.insert(0,"Day_Of_Week",stocks.index.day_name()) #yeni alan ekledi

In [ ]:
stocks

In [ ]:
stocks.index + pd.DateOffset(days = 5) #bütün indexlere 5 gün ekler

In [ ]:
stocks.index + pd.DateOffset(month = 2) # bütün ayları 5 yapıyor

In [ ]:
stocks.index + pd.DateOffset(weeks = 2)

In [ ]:
stocks.index + pd.DateOffset(months = 2) # bütün aylara 2 ay ekledi

In [ ]:
stocks.index

In [ ]:
first_time = pd.Timestamp("2020-03-31")
second_time = pd.Timestamp("2020-03-20")
first_time - second_time #İki tarih arasındaki fark timedelta türünde geliyor

In [ ]:
first_time = pd.Timestamp("2020-03-31 04:35:16PM")
second_time = pd.Timestamp("2020-03-20 02:15:49AM")
first_time - second_time

In [ ]:
first_time + pd.Timedelta(days=3) # Timedelta ile istedğimiz gibi ekleme yapabiliriz

In [ ]:
pd.Timedelta("5 minutes")

In [ ]:
pd.Timedelta("7 hours 15 minutes")

In [ ]:
pd.Timedelta("10 days 7 hours 15 minutes 32 seconds")

In [ ]:
#Grafik çizme muhabbeti laga lugası

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline #allta grafiklerin çıkmasını sağlar

In [ ]:
yahoo = data.DataReader(name='BB',data_source="yahoo",start="2007-01-01",end="2021-12-31")
yahoo.head()

In [ ]:
yahoo.plot() #belirtleçlere legent diyoruz sadece mor var çünkü maksimum değerleri gösterir o yüzden

In [ ]:
yahoo.plot(y="High")

In [ ]:
yahoo.plot(y="Close")

In [ ]:
yahoo.plot(y=["High","Close"])

In [ ]:
plt.style.available
# hazır biçimlendirilme özlelliklerini verir

In [ ]:
plt.style.use("fivethirtyeight")
yahoo.plot(y="Close")

In [ ]:
plt.style.use("dark_background")
yahoo.plot(y="Close")

In [ ]:
plt.style.use("ggplot")
yahoo.plot(y="Close")

In [ ]:
plt.style.use("tableau-colorblind10")
yahoo.plot(y="Close")

In [ ]:
def rank_performance(stock_price):
    if stock_price <=10:
        return "Poor"
    elif stock_price<=50:
        return "Satisfactory"
    else:
        return "Stellar"

In [ ]:
yahoo["Close"].apply(rank_performance)

In [ ]:
yahoo["Close"].apply(rank_performance).value_counts()

In [ ]:
yahoo["Close"].apply(rank_performance).value_counts().plot()

In [ ]:
yahoo["Close"].apply(rank_performance).value_counts().plot(kind="bar") #tablonun yapısını değiştirir

In [ ]:
yahoo["Close"].apply(rank_performance).value_counts().plot(kind="barh") #tablonun yapısını değiştirir

In [ ]:
yahoo["Close"].apply(rank_performance).value_counts().plot(kind="pie",legend=True)